run = "bundle exec jekyll serve --host='0.0.0.0' --baseurl='/'"
entrypoint = "README.md"
hidden = [".bundle"]
modules = ["ruby-3.1"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 4000
externalPort = 80
